{
  "parserOpts": {
    "plugins": ["objectRestSpread"]
  },
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "8.9",
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "debug": true
      }
    }]
  ]
}
